.body{
    height: 100%;
    background-color: var(--lightPink);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

button{
    width: 90%;
    height: 2.3em;
    font-size: 0.9em;
}

.left, .right{
    height: 70%;
    margin-bottom: 10%;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}

.stationFrom, .stationTo{
    width: 25%;
}

.routeImage{
    margin-top: 3%;
    width: 50%;
    background-image: url("Image/Linie.pngg"), url("Image/Linie.pngg"), url("Image/Linie.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.stationFromText, .stationToText{
    display: flex;
    flex-direction: row;
    height: 15%;
}


.stationFromText label, .stationToText label{
    padding-right: 5%;
}

.stationFromButtons, .stationToButtons {
    height: 82%;
    overflow: scroll;
}

.stationFromButtons button, .stationToButtons button{
    margin-top: 5%;
}


.right{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.ticketType{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 2%;
}

.ticketType button{
    height: 20%;
}

.ErrorHidden{
    margin-top: 8%;
    display: none;
}


.continue{
    margin: 5% 0%;
    height: 15%;
    background-color: var(--yellow);
    border-radius: 15px;
}