.body{
    display: flex;
    height: 100%;
    background-color: var(--lightPink);
    align-items: center;
    justify-content: space-evenly;
}

.body button{
    height: 2.3em;
    font-size: 1.1em;
    width: 30%;
}

.left, .middle, .right{
    width: 20%;
    height: 70%;
    margin-bottom: 5%;
}

.left{
    height: 40%;
    flex-direction: row;
    text-align: center;
}

.left button{
    width: 6em;
    height: 2.5em;
    font-size: 1.1em;
    margin-top: 5%;
}

.left div{
    text-align: left;
}

.middle{
    width: 45%; 
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ticketTyp, .taxType, .classAndNr{
    height: 30%;
}

.ticketTyp div{
    margin-top: 3%;
    text-align: center;
}

.taxType div{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.taxType button{
    width: 40%;
}

.classAndNr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.class, .number{
    width: 45%;
}

.class div, .number div{
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.number div p{
    text-align: center;
    width: 1em;
}

