button, .linkbody{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    
}

.linkbody{
    background: var(--lightPink);
}

.top, .bottom{
    width: 100%;
}

.top{
    height: 30%;
    background-color: var(--blue);
}

.bottom{
    height: 70%;
    background-image: url("Image/train.png");
    background-size: cover;
}