button{
    height: 100%;
    width: 100%;
    
}

.linkbody{
    padding: 0px;
    margin: 0px;
    height: 100%;
    background: var(--lightPink);
}

.top, .bottom{
    width: 100%;
}

.top{
    height: 30%;
}

.bottom{
    height: 70%;
    background-image: ;
}